*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: black;
    padding: 25px;
}

.sidebar .logo img{
    width: 210px;
}

.sidebar .navigation ul{
    margin-top: 0;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}
.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li .fa{
    font-size: 20px;
    margin-right: 10px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: white;
}

.sidebar .policies {
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}

.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
    text-decoration: underline;
}

.album-shelf {
    margin-left: 300px;
    margin-bottom: 100px;
}

.topbar {
    border-radius: 10px;
    height: 35px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 15px 15px;
}

.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar ul li .divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}

.topbar .navbar button {
    border-radius: 100px;    
}

.main-container .albums ul {
    display: flex;
    background-color: black;
}

.main-container .albums ul li {
    width: 200px; 
    height: 200px;
    background-color: black; 
}